<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="../styles/style.css">
    <!-- <script src="scripts/script.js"></script> -->
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="https://kit.fontawesome.com/275b79e2bf.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- <div w3-include-html="header.html"></div> -->
    <header>
        <nav id="main-navbar">
            <div class="logo">
                <a href="index.html"><img src="../images/phone-doctor.png" alt="Logo"></a>
            </div>
            <div>
                <ul class="nav-links">
                    <li><a href="../index.html"><i class="fa-solid fa-house"></i> Home</a></li>
                    <li><a href="predictor.html">Predictor</a></li>
                    <li><a href="../consultation.html">Consultation</a></li>
                    <li><a href="../news">Newsletter</a></li>
                    <li><a href="../patient.html"><i class="fa-solid fa-user"></i> Account</a></li>
                </ul>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>

        </nav>
    </header>

    <div class="container">
        <h1>Disease Prediction</h1>
        <form action="/predict" id="myForm">
            <div id="inputFields">
                <h2>Click here to enter your symptoms (at least three)</h2>
                <button id="addButton" type="button">Add Symptom</button>
                <button type="submit">Predict</button>
            </div>
        </form>
    </div>

    <!-- <div>This is simple test to get data from a backend</div>
    <div><span>Last update: </span><span id="time-container"></span></div>
    <button onclick="getUsers()">Get user data</button>
    <div id="result-container"></div> -->

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <a href="index.html"><img src="../images/phone-doctor.png" class="logo"></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <div class="contact">
                    <span><i class="fas fa-phone"></i> &nbsp; 123-456-7890</span>
                    <span><i class="fas fa-envelope"></i> &nbsp; info@example.com</span>
                </div>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="template/predictor.html">Predictor</a></li>
                    <li><a href="consult.html">Consultation</a></li>
                    <li><a href="news.html">Newsletter</a></li>
                    <li><a href="patient.html">Account</a></li>
                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Contact Us</h2>
                <form action="#" method="post">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address">
                    <textarea name="message" class="text-input contact-input" placeholder="Your message"></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <i class="fas fa-envelope"></i>
                        Send
                    </button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright &copy; 2023 | Designed by Fonsah Pageo
        </div>
    </footer>

    <script>
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('.nav-links');

        burger.addEventListener('click', () => {
            nav.classList.toggle('nav-active');
            burger.classList.toggle('active');
        });
    </script>

    <!-- <script>
        var xhr = null;
        getXmlHttpRequestObject = function () {
            if (!xhr) {
                // Create a new XMLHttpRequest object 
                xhr = new XMLHttpRequest();
            }
            return xhr;
        };
        function dataCallback() {
            // Check response is ready or not
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log("User data received!");
                getDate();
                dataDiv = document.getElementById('result-container');
                // Set current data text
                dataDiv.innerHTML = xhr.responseText;
            }
        }
        function getUsers() {
            console.log("Get users...");
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = dataCallback;
            // asynchronous requests
            xhr.open("GET", "http://localhost:6969/users", true);
            // Send the request over the network
            xhr.send(null);
        }
        function getDate() {
            date = new Date().toString();
            document.getElementById('time-container').textContent
                = date;
        }
        (function () {
            getDate();
        })();
    </script> -->


    <script>
        const form = document.getElementById("myForm");
        const inputFields = document.getElementById("inputFields");
        const addButton = document.getElementById("addButton");

        let counter = 1;

        addButton.addEventListener("click", function () {
            const label = document.createElement("label");
            const labelText = document.createTextNode(`Symptom ${counter}:`);
            label.appendChild(labelText);

            const input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("name", `symptom${counter}`);

            const deleteButton = document.createElement("button");
            deleteButton.className = "deleteButton";
            deleteButton.innerHTML = "Delete";
            deleteButton.addEventListener("click", function () {
                inputFields.removeChild(label);
                inputFields.removeChild(input);
                inputFields.removeChild(deleteButton);
            });

            inputFields.insertBefore(label, addButton);
            inputFields.insertBefore(input, addButton);
            inputFields.insertBefore(deleteButton, addButton);

            counter++;
        });

    </script>

    <!-- <div w3-include-html="footer.html"></div>
    <script>
        includeHTML();
    </script> -->
</body>

</html>