<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="styles/registration.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="container">
        <form action="#" method="post" id="password-error">
            <h1>Input your Email</h1>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <button type="submit" class="reset-password"><a href="#">Send verification code</a></button>
        </form>
    </div>
</body>

</html>