<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://kit.fontawesome.com/275b79e2bf.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav id="main-navbar">
            <div class="logo">
                <a href="index.html"><img src="../images/phone-doctor.png" alt="Logo"></a>
            </div>
            <div>
                <ul class="nav-links">
                    <li><a href="index.html"><i class="fa-solid fa-house"></i> Home</a></li>
                    <li><a href="predictor.html"><i class="fa-solid fa-heart-circle-check"></i> Predictor</a></li>
                    <li><a href="consultation.html"><i class="fa-sharp fa-solid fa-hospital-user"></i> Consultation</a></li>
                    <li><a href="news.html"><i class="fa-solid fa-newspaper"></i> Newsletter</a></li>
                    <li><a href="patient.html"><i class="fa-solid fa-user"></i> Account</a></li>
                </ul>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            
        </nav>
    </header>
    <script>
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('.nav-links');

        burger.addEventListener('click', () => {
            nav.classList.toggle('nav-active');
            burger.classList.toggle('active');
        });
    </script>
</body>

</html>