<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Health Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/275b79e2bf.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <div w3-include-html="header.html"></div> -->
    {% include 'header.html' %}

    <div class="content">
        <div id="main">
            <div>
                <h1><b>Welcome to Smart Health Predictor</b></h1>
            </div>
        </div>

        <section class="section-1">
            <div class="box">
                <form action="templates/predictor.html">
                    <h2>What are you feeling today? </h2>
                    <p>Click here to interact with the diagnosis system</p>
                    <button type="submit">Check Symptoms <i class="fa-solid fa-arrows-rotate"></i></button>
                </form>
            </div>
            <div class="box">
                <form action="consultation.html">
                    <h2>Talk with a Doctor specialized in your case</h2>
                    <p>Click here to see various doctors you can talk to</p>
                    <button type="submit">Submit <i class="fa-sharp fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
            <div class="box">
                <form action="news.html">
                    <h2>Health tips and health news</h2>
                    <p>Click here for recent events and tips for a health lifestyle</p>
                    <button type="submit">Submit <i class="fa-sharp fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </section>

        <div>
            <p>If you find yourself in need of medical attention and you don't know what to do,
                our system will be able to help anaylyze and interpret your health situation. <br>
                But the results you obtain from here are not conclusive and can never compare to the diagnosis of
                a doctor or physician. Therefore, you are strongly advised to visit a hospital or clinic for proper
                checkup
                and diagnosis with tests and examinatiions carried out to accurately determine your illness.</p>
            <p> Also, we can help you find a doctor that will respond to you and give you instant medical advice
                and directives on what to do next or where to go.</p>
            <p>We bring you daily tips that can improve your health and inform you of the latest happenings in the world
                of
                medicine so stay tuned to our news section and always stay updated.
            </p>
        </div>
    </div>

    {% include 'footer.html' %}
    <!-- <div w3-include-html="footer.html"></div>
    <script>
        includeHTML();
    </script> -->
</body>

</html>