header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

#main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
    padding: 10px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    display: flex !important;
    flex-direction: column;
}

.burger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active .line:nth-child(2) {
    opacity: 0;
}

.burger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: block;
    }
}