* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f1f1f1;
    margin: 120px 20px 20px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 80px 0;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    margin-top: 0px;
}

.about h2.logo-text {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.socials a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;
    transition: all 0.3s ease;
}

.socials a:hover {
    background-color: #fff;
    color: #333;
}

.links h2 {
    margin-bottom: 20px;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.5;
    display: block;
    margin-bottom: 10px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #333;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
    font-size: 1.4rem;
}